{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ],
                    "uglify": true
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-runtime",
        "transform-object-assign",
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": true
        }]
    ]
}
